<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.parameter.mapper.AloneDictionaryTypeMapper">
  <resultMap id="BaseResultMap" type="com.farm.parameter.domain.AloneDictionaryType">
    <!--@mbg.generated-->
    <!--@Table alone_dictionary_type-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CTIME" jdbcType="VARCHAR" property="ctime" />
    <result column="UTIME" jdbcType="VARCHAR" property="utime" />
    <result column="CUSER" jdbcType="VARCHAR" property="cuser" />
    <result column="MUSER" jdbcType="VARCHAR" property="muser" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="ENTITYTYPE" jdbcType="VARCHAR" property="entitytype" />
    <result column="ENTITY" jdbcType="VARCHAR" property="entity" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="TREECODE" jdbcType="VARCHAR" property="treecode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CTIME, UTIME, CUSER, MUSER, `STATE`, `NAME`, COMMENTS, ENTITYTYPE, ENTITY, SORT, 
    PARENTID, TREECODE
  </sql>
  <select id="getEntity" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_dictionary_type
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteEntity" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_dictionary_type
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.farm.parameter.domain.AloneDictionaryType">
    <!--@mbg.generated-->
    insert into alone_dictionary_type (ID, CTIME, UTIME, 
      CUSER, MUSER, `STATE`, `NAME`, 
      COMMENTS, ENTITYTYPE, ENTITY, 
      SORT, PARENTID, TREECODE
      )
    values (#{id,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, #{utime,jdbcType=VARCHAR}, 
      #{cuser,jdbcType=VARCHAR}, #{muser,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{entitytype,jdbcType=VARCHAR}, #{entity,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{parentid,jdbcType=VARCHAR}, #{treecode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.farm.parameter.domain.AloneDictionaryType">
    <!--@mbg.generated-->
    insert into alone_dictionary_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="utime != null">
        UTIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="muser != null">
        MUSER,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="entitytype != null">
        ENTITYTYPE,
      </if>
      <if test="entity != null">
        ENTITY,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="treecode != null">
        TREECODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        #{muser,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="entitytype != null">
        #{entitytype,jdbcType=VARCHAR},
      </if>
      <if test="entity != null">
        #{entity,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="treecode != null">
        #{treecode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="editEntity" parameterType="com.farm.parameter.domain.AloneDictionaryType">
    <!--@mbg.generated-->
    update alone_dictionary_type
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        UTIME = #{utime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        MUSER = #{muser,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=CHAR},
      </if>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="entitytype != null">
        ENTITYTYPE = #{entitytype,jdbcType=VARCHAR},
      </if>
      <if test="entity != null">
        ENTITY = #{entity,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="treecode != null">
        TREECODE = #{treecode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.parameter.domain.AloneDictionaryType">
    <!--@mbg.generated-->
    update alone_dictionary_type
    set CTIME = #{ctime,jdbcType=VARCHAR},
      UTIME = #{utime,jdbcType=VARCHAR},
      CUSER = #{cuser,jdbcType=VARCHAR},
      MUSER = #{muser,jdbcType=VARCHAR},
      `STATE` = #{state,jdbcType=CHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      ENTITYTYPE = #{entitytype,jdbcType=VARCHAR},
      ENTITY = #{entity,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      TREECODE = #{treecode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>