<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.parameter.mapper.AloneDictionaryEntityMapper">
  <resultMap id="BaseResultMap" type="com.farm.parameter.domain.AloneDictionaryEntity">
    <!--@mbg.generated-->
    <!--@Table alone_dictionary_entity-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CTIME" jdbcType="VARCHAR" property="ctime" />
    <result column="UTIME" jdbcType="VARCHAR" property="utime" />
    <result column="CUSER" jdbcType="VARCHAR" property="cuser" />
    <result column="MUSER" jdbcType="VARCHAR" property="muser" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ENTITYINDEX" jdbcType="VARCHAR" property="entityindex" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CTIME, UTIME, CUSER, MUSER, `STATE`, `NAME`, ENTITYINDEX, COMMENTS, `TYPE`
  </sql>
  <select id="getEntity" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_dictionary_entity
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteEntity" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_dictionary_entity
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.farm.parameter.domain.AloneDictionaryEntity">
    <!--@mbg.generated-->
    insert into alone_dictionary_entity (ID, CTIME, UTIME, 
      CUSER, MUSER, `STATE`, `NAME`, 
      ENTITYINDEX, COMMENTS, `TYPE`
      )
    values (#{id,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, #{utime,jdbcType=VARCHAR}, 
      #{cuser,jdbcType=VARCHAR}, #{muser,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{entityindex,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.farm.parameter.domain.AloneDictionaryEntity">
    <!--@mbg.generated-->
    insert into alone_dictionary_entity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="utime != null">
        UTIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="muser != null">
        MUSER,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="entityindex != null">
        ENTITYINDEX,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        #{muser,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="entityindex != null">
        #{entityindex,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="editEntity" parameterType="com.farm.parameter.domain.AloneDictionaryEntity">
    <!--@mbg.generated-->
    update alone_dictionary_entity
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        UTIME = #{utime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        MUSER = #{muser,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=CHAR},
      </if>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="entityindex != null">
        ENTITYINDEX = #{entityindex,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.parameter.domain.AloneDictionaryEntity">
    <!--@mbg.generated-->
    update alone_dictionary_entity
    set CTIME = #{ctime,jdbcType=VARCHAR},
      UTIME = #{utime,jdbcType=VARCHAR},
      CUSER = #{cuser,jdbcType=VARCHAR},
      MUSER = #{muser,jdbcType=VARCHAR},
      `STATE` = #{state,jdbcType=CHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      ENTITYINDEX = #{entityindex,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      `TYPE` = #{type,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>