<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.authority.mapper.ActionMapper">
  <resultMap id="BaseResultMap" type="com.farm.authority.domain.Action">
    <!--@mbg.generated-->
    <!--@Table alone_auth_action-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="AUTHKEY" jdbcType="VARCHAR" property="authkey" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="CTIME" jdbcType="VARCHAR" property="ctime" />
    <result column="UTIME" jdbcType="VARCHAR" property="utime" />
    <result column="CUSER" jdbcType="VARCHAR" property="cuser" />
    <result column="MUSER" jdbcType="VARCHAR" property="muser" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="CHECKIS" jdbcType="CHAR" property="checkis" />
    <result column="LOGINIS" jdbcType="CHAR" property="loginis" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, AUTHKEY, `NAME`, COMMENTS, CTIME, UTIME, CUSER, MUSER, `STATE`, CHECKIS, LOGINIS
  </sql>
  <select id="getEntityByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from alone_auth_action
    where authkey = #{authkey,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from alone_auth_action
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_auth_action
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_auth_action
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.farm.authority.domain.Action">
    <!--@mbg.generated-->
    insert into alone_auth_action (ID, AUTHKEY, `NAME`, 
      COMMENTS, CTIME, UTIME, 
      CUSER, MUSER, `STATE`, CHECKIS, 
      LOGINIS)
    values (#{id,jdbcType=VARCHAR}, #{authkey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, #{utime,jdbcType=VARCHAR}, 
      #{cuser,jdbcType=VARCHAR}, #{muser,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{checkis,jdbcType=CHAR}, 
      #{loginis,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.authority.domain.Action">
    <!--@mbg.generated-->
    insert into alone_auth_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="authkey != null">
        AUTHKEY,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="utime != null">
        UTIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="muser != null">
        MUSER,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="checkis != null">
        CHECKIS,
      </if>
      <if test="loginis != null">
        LOGINIS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="authkey != null">
        #{authkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        #{muser,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="checkis != null">
        #{checkis,jdbcType=CHAR},
      </if>
      <if test="loginis != null">
        #{loginis,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.authority.domain.Action">
    <!--@mbg.generated-->
    update alone_auth_action
    <set>
      <if test="authkey != null">
        AUTHKEY = #{authkey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        UTIME = #{utime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        MUSER = #{muser,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=CHAR},
      </if>
      <if test="checkis != null">
        CHECKIS = #{checkis,jdbcType=CHAR},
      </if>
      <if test="loginis != null">
        LOGINIS = #{loginis,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.authority.domain.Action">
    <!--@mbg.generated-->
    update alone_auth_action
    set AUTHKEY = #{authkey,jdbcType=VARCHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=VARCHAR},
      UTIME = #{utime,jdbcType=VARCHAR},
      CUSER = #{cuser,jdbcType=VARCHAR},
      MUSER = #{muser,jdbcType=VARCHAR},
      `STATE` = #{state,jdbcType=CHAR},
      CHECKIS = #{checkis,jdbcType=CHAR},
      LOGINIS = #{loginis,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>