<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.authority.mapper.AloneParameterLocalMapper">
  <resultMap id="BaseResultMap" type="com.farm.authority.domain.AloneParameterLocal">
    <!--@mbg.generated-->
    <!--@Table alone_parameter_local-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PARAMETERID" jdbcType="VARCHAR" property="parameterid" />
    <result column="EUSER" jdbcType="VARCHAR" property="euser" />
    <result column="PVALUE" jdbcType="VARCHAR" property="pvalue" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, PARAMETERID, EUSER, PVALUE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_parameter_local
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_parameter_local
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.farm.authority.domain.AloneParameterLocal">
    <!--@mbg.generated-->
    insert into alone_parameter_local (ID, PARAMETERID, EUSER, 
      PVALUE)
    values (#{id,jdbcType=VARCHAR}, #{parameterid,jdbcType=VARCHAR}, #{euser,jdbcType=VARCHAR}, 
      #{pvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.authority.domain.AloneParameterLocal">
    <!--@mbg.generated-->
    insert into alone_parameter_local
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parameterid != null">
        PARAMETERID,
      </if>
      <if test="euser != null">
        EUSER,
      </if>
      <if test="pvalue != null">
        PVALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parameterid != null">
        #{parameterid,jdbcType=VARCHAR},
      </if>
      <if test="euser != null">
        #{euser,jdbcType=VARCHAR},
      </if>
      <if test="pvalue != null">
        #{pvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.authority.domain.AloneParameterLocal">
    <!--@mbg.generated-->
    update alone_parameter_local
    <set>
      <if test="parameterid != null">
        PARAMETERID = #{parameterid,jdbcType=VARCHAR},
      </if>
      <if test="euser != null">
        EUSER = #{euser,jdbcType=VARCHAR},
      </if>
      <if test="pvalue != null">
        PVALUE = #{pvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.authority.domain.AloneParameterLocal">
    <!--@mbg.generated-->
    update alone_parameter_local
    set PARAMETERID = #{parameterid,jdbcType=VARCHAR},
      EUSER = #{euser,jdbcType=VARCHAR},
      PVALUE = #{pvalue,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>