<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.authority.mapper.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.farm.authority.domain.Organization">
    <!--@mbg.generated-->
    <!--@Table alone_auth_organization-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TREECODE" jdbcType="VARCHAR" property="treecode" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CTIME" jdbcType="VARCHAR" property="ctime" />
    <result column="UTIME" jdbcType="VARCHAR" property="utime" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="CUSER" jdbcType="VARCHAR" property="cuser" />
    <result column="MUSER" jdbcType="VARCHAR" property="muser" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="APPID" jdbcType="VARCHAR" property="appid" />
  </resultMap>

  <resultMap id="commentsResult" type="java.lang.String" >
    <result column="COMMENTS" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, TREECODE, COMMENTS, `NAME`, CTIME, UTIME, `STATE`, CUSER, MUSER, PARENTID, SORT, 
    `TYPE`, APPID
  </sql>

  <select id="getAllOrgComments" parameterType="java.lang.String" resultMap="commentsResult">
    <!--@mbg.generated-->
    select COMMENTS
    from alone_auth_organization
  </select>

  <select id="getList" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from alone_auth_organization
    state='1' order by ctime
  </select>

  <select id="getAllSubNodes" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from alone_auth_organization
    where treecode like #{treecode,jdbcType=VARCHAR}
  </select>

  <select id="getEntity" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_auth_organization
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteEntity" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_auth_organization
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.farm.authority.domain.Organization">
    <!--@mbg.generated-->
    insert into alone_auth_organization (ID, TREECODE, COMMENTS, 
      `NAME`, CTIME, UTIME, 
      `STATE`, CUSER, MUSER, PARENTID, 
      SORT, `TYPE`, APPID)
    values (#{id,jdbcType=VARCHAR}, #{treecode,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, #{utime,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{cuser,jdbcType=VARCHAR}, #{muser,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{appid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.authority.domain.Organization">
    <!--@mbg.generated-->
    insert into alone_auth_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="treecode != null">
        TREECODE,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="utime != null">
        UTIME,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="muser != null">
        MUSER,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="appid != null">
        APPID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="treecode != null">
        #{treecode,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        #{muser,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="editEntity" parameterType="com.farm.authority.domain.Organization">
    <!--@mbg.generated-->
    update alone_auth_organization
    <set>
      <if test="treecode != null">
        TREECODE = #{treecode,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null">
        UTIME = #{utime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=CHAR},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="muser != null">
        MUSER = #{muser,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=CHAR},
      </if>
      <if test="appid != null">
        APPID = #{appid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.authority.domain.Organization">
    <!--@mbg.generated-->
    update alone_auth_organization
    set TREECODE = #{treecode,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      `NAME` = #{name,jdbcType=VARCHAR},
      CTIME = #{ctime,jdbcType=VARCHAR},
      UTIME = #{utime,jdbcType=VARCHAR},
      `STATE` = #{state,jdbcType=CHAR},
      CUSER = #{cuser,jdbcType=VARCHAR},
      MUSER = #{muser,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      `TYPE` = #{type,jdbcType=CHAR},
      APPID = #{appid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>