<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.authority.mapper.UserpostMapper">
  <resultMap id="BaseResultMap" type="com.farm.authority.domain.Userpost">
    <!--@mbg.generated-->
    <!--@Table alone_auth_userpost-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="POSTID" jdbcType="VARCHAR" property="postid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, USERID, POSTID
  </sql>

  <select id="getTempUserPost" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    SELECT a.USERID as userid,a.ID as id,a.ORGANIZATIONID as organizationid,
    a.POSTID as postid FROM alone_auth_userorgpost a
    LEFT JOIN alone_auth_post  b ON a.POSTID=b.ID
    WHERE b.TYPE='2'
    and a.USERID= #{userId,jdbcType=VARCHAR}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_auth_userpost
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_auth_userpost
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.farm.authority.domain.Userpost">
    <!--@mbg.generated-->
    insert into alone_auth_userpost (ID, USERID, POSTID
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{postid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.farm.authority.domain.Userpost">
    <!--@mbg.generated-->
    insert into alone_auth_userpost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="postid != null">
        POSTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="postid != null">
        #{postid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.authority.domain.Userpost">
    <!--@mbg.generated-->
    update alone_auth_userpost
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="postid != null">
        POSTID = #{postid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.authority.domain.Userpost">
    <!--@mbg.generated-->
    update alone_auth_userpost
    set USERID = #{userid,jdbcType=VARCHAR},
      POSTID = #{postid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>