<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.authority.mapper.UserorgMapper">
  <resultMap id="BaseResultMap" type="com.farm.authority.domain.Userorg">
    <!--@mbg.generated-->
    <!--@Table alone_auth_userorg-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="ORGANIZATIONID" jdbcType="VARCHAR" property="organizationid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, USERID, ORGANIZATIONID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from alone_auth_userorg
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_auth_userorg
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUseridAndOrganizationid" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_auth_userorg
    where USERID = #{USERID,jdbcType=VARCHAR}
    where ORGANIZATIONID = #{ORGANIZATIONID,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from alone_auth_userorg
    where USERID = #{userId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertEntity" parameterType="com.farm.authority.domain.Userorg">
    <!--@mbg.generated-->
    insert into alone_auth_userorg (ID, USERID, ORGANIZATIONID
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.farm.authority.domain.Userorg">
    <!--@mbg.generated-->
    insert into alone_auth_userorg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="organizationid != null">
        ORGANIZATIONID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null">
        #{organizationid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farm.authority.domain.Userorg">
    <!--@mbg.generated-->
    update alone_auth_userorg
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null">
        ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.authority.domain.Userorg">
    <!--@mbg.generated-->
    update alone_auth_userorg
    set USERID = #{userid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>