<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.exam.mapper.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.farm.exam.domain.Material">
    <!--@mbg.generated-->
    <!--@Table wts_material-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CTIME" jdbcType="VARCHAR" property="ctime" />
    <result column="ETIME" jdbcType="VARCHAR" property="etime" />
    <result column="CUSER" jdbcType="VARCHAR" property="cuser" />
    <result column="EUSER" jdbcType="VARCHAR" property="euser" />
    <result column="PSTATE" jdbcType="VARCHAR" property="pstate" />
    <result column="PCONTENT" jdbcType="VARCHAR" property="pcontent" />
    <result column="TEXT" jdbcType="LONGVARCHAR" property="text" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CTIME, ETIME, CUSER, EUSER, PSTATE, PCONTENT, `TEXT`, TITLE, UUID
  </sql>
  <select id="getEntity" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wts_material
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteEntity" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from wts_material
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.farm.exam.domain.Material">
    <!--@mbg.generated-->
    insert into wts_material (ID, CTIME, ETIME, 
      CUSER, EUSER, PSTATE, 
      PCONTENT, `TEXT`, TITLE, 
      UUID)
    values (#{id,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, #{etime,jdbcType=VARCHAR}, 
      #{cuser,jdbcType=VARCHAR}, #{euser,jdbcType=VARCHAR}, #{pstate,jdbcType=VARCHAR}, 
      #{pcontent,jdbcType=VARCHAR}, #{text,jdbcType=LONGVARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{uuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.farm.exam.domain.Material">
    <!--@mbg.generated-->
    insert into wts_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="etime != null">
        ETIME,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
      <if test="euser != null">
        EUSER,
      </if>
      <if test="pstate != null">
        PSTATE,
      </if>
      <if test="pcontent != null">
        PCONTENT,
      </if>
      <if test="text != null">
        `TEXT`,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="uuid != null">
        UUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="euser != null">
        #{euser,jdbcType=VARCHAR},
      </if>
      <if test="pstate != null">
        #{pstate,jdbcType=VARCHAR},
      </if>
      <if test="pcontent != null">
        #{pcontent,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="editEntity" parameterType="com.farm.exam.domain.Material">
    <!--@mbg.generated-->
    update wts_material
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        ETIME = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=VARCHAR},
      </if>
      <if test="euser != null">
        EUSER = #{euser,jdbcType=VARCHAR},
      </if>
      <if test="pstate != null">
        PSTATE = #{pstate,jdbcType=VARCHAR},
      </if>
      <if test="pcontent != null">
        PCONTENT = #{pcontent,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        `TEXT` = #{text,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.farm.exam.domain.Material">
    <!--@mbg.generated-->
    update wts_material
    set CTIME = #{ctime,jdbcType=VARCHAR},
      ETIME = #{etime,jdbcType=VARCHAR},
      CUSER = #{cuser,jdbcType=VARCHAR},
      EUSER = #{euser,jdbcType=VARCHAR},
      PSTATE = #{pstate,jdbcType=VARCHAR},
      PCONTENT = #{pcontent,jdbcType=VARCHAR},
      `TEXT` = #{text,jdbcType=LONGVARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      UUID = #{uuid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>