<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wts.exam.mapper.PaperChapterMapper">
  <resultMap id="BaseResultMap" type="com.wts.exam.domain.PaperChapter">
    <!--@mbg.generated-->
    <!--@Table wts_paper_chapter-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STYPE" jdbcType="VARCHAR" property="stype" />
    <result column="PTYPE" jdbcType="VARCHAR" property="ptype" />
    <result column="INITPOINT" jdbcType="INTEGER" property="initpoint" />
    <result column="SUBJECTTYPEID" jdbcType="VARCHAR" property="subjecttypeid" />
    <result column="SUBJECTNUM" jdbcType="INTEGER" property="subjectnum" />
    <result column="SUBJECTPOINT" jdbcType="INTEGER" property="subjectpoint" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TEXTNOTE" jdbcType="LONGVARCHAR" property="textnote" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="PAPERID" jdbcType="VARCHAR" property="paperid" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="TREECODE" jdbcType="VARCHAR" property="treecode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, STYPE, PTYPE, INITPOINT, SUBJECTTYPEID, SUBJECTNUM, SUBJECTPOINT, `NAME`, TEXTNOTE, 
    PARENTID, PAPERID, SORT, TREECODE
  </sql>
  <select id="getEntity" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wts_paper_chapter
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from wts_paper_chapter
    where PAPERID = #{parentId,jdbcType=VARCHAR}
  </select>

  <select id="findByParentIdAndPtypeAndName" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from wts_paper_chapter
    where PAPERID = #{parentId,jdbcType=VARCHAR}
    and PTYPE = #{ptype,jdbcType=VARCHAR}
    and NAME = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteEntity" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from wts_paper_chapter
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.wts.exam.domain.PaperChapter">
    <!--@mbg.generated-->
    insert into wts_paper_chapter (ID, STYPE, PTYPE, 
      INITPOINT, SUBJECTTYPEID, SUBJECTNUM, 
      SUBJECTPOINT, `NAME`, TEXTNOTE, 
      PARENTID, PAPERID, SORT, 
      TREECODE)
    values (#{id,jdbcType=VARCHAR}, #{stype,jdbcType=VARCHAR}, #{ptype,jdbcType=VARCHAR}, 
      #{initpoint,jdbcType=INTEGER}, #{subjecttypeid,jdbcType=VARCHAR}, #{subjectnum,jdbcType=INTEGER}, 
      #{subjectpoint,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{textnote,jdbcType=LONGVARCHAR}, 
      #{parentid,jdbcType=VARCHAR}, #{paperid,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{treecode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wts.exam.domain.PaperChapter">
    <!--@mbg.generated-->
    insert into wts_paper_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="stype != null">
        STYPE,
      </if>
      <if test="ptype != null">
        PTYPE,
      </if>
      <if test="initpoint != null">
        INITPOINT,
      </if>
      <if test="subjecttypeid != null">
        SUBJECTTYPEID,
      </if>
      <if test="subjectnum != null">
        SUBJECTNUM,
      </if>
      <if test="subjectpoint != null">
        SUBJECTPOINT,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="textnote != null">
        TEXTNOTE,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="paperid != null">
        PAPERID,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="treecode != null">
        TREECODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stype != null">
        #{stype,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null">
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="initpoint != null">
        #{initpoint,jdbcType=INTEGER},
      </if>
      <if test="subjecttypeid != null">
        #{subjecttypeid,jdbcType=VARCHAR},
      </if>
      <if test="subjectnum != null">
        #{subjectnum,jdbcType=INTEGER},
      </if>
      <if test="subjectpoint != null">
        #{subjectpoint,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="textnote != null">
        #{textnote,jdbcType=LONGVARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null">
        #{paperid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="treecode != null">
        #{treecode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="editEntity" parameterType="com.wts.exam.domain.PaperChapter">
    <!--@mbg.generated-->
    update wts_paper_chapter
    <set>
      <if test="stype != null">
        STYPE = #{stype,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null">
        PTYPE = #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="initpoint != null">
        INITPOINT = #{initpoint,jdbcType=INTEGER},
      </if>
      <if test="subjecttypeid != null">
        SUBJECTTYPEID = #{subjecttypeid,jdbcType=VARCHAR},
      </if>
      <if test="subjectnum != null">
        SUBJECTNUM = #{subjectnum,jdbcType=INTEGER},
      </if>
      <if test="subjectpoint != null">
        SUBJECTPOINT = #{subjectpoint,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="textnote != null">
        TEXTNOTE = #{textnote,jdbcType=LONGVARCHAR},
      </if>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null">
        PAPERID = #{paperid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="treecode != null">
        TREECODE = #{treecode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wts.exam.domain.PaperChapter">
    <!--@mbg.generated-->
    update wts_paper_chapter
    set STYPE = #{stype,jdbcType=VARCHAR},
      PTYPE = #{ptype,jdbcType=VARCHAR},
      INITPOINT = #{initpoint,jdbcType=INTEGER},
      SUBJECTTYPEID = #{subjecttypeid,jdbcType=VARCHAR},
      SUBJECTNUM = #{subjectnum,jdbcType=INTEGER},
      SUBJECTPOINT = #{subjectpoint,jdbcType=INTEGER},
      `NAME` = #{name,jdbcType=VARCHAR},
      TEXTNOTE = #{textnote,jdbcType=LONGVARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      PAPERID = #{paperid,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      TREECODE = #{treecode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>