<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wts.exam.mapper.PaperCardsubMapper">
  <resultMap id="BaseResultMap" type="com.wts.exam.domain.PaperCardsub">
    <!--@mbg.generated-->
    <!--@Table wts_paper_cardsub-->
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="POINT" jdbcType="INTEGER" property="point" />
    <result column="CARDID" jdbcType="CHAR" property="cardid" />
    <result column="VERSIONID" jdbcType="CHAR" property="versionid" />
    <result column="COMPLETE" jdbcType="CHAR" property="complete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, POINT, CARDID, VERSIONID, COMPLETE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wts_paper_cardsub
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from wts_paper_cardsub
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.wts.exam.domain.PaperCardsub">
    <!--@mbg.generated-->
    insert into wts_paper_cardsub (ID, POINT, CARDID, 
      VERSIONID, COMPLETE)
    values (#{id,jdbcType=CHAR}, #{point,jdbcType=INTEGER}, #{cardid,jdbcType=CHAR}, 
      #{versionid,jdbcType=CHAR}, #{complete,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wts.exam.domain.PaperCardsub">
    <!--@mbg.generated-->
    insert into wts_paper_cardsub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="point != null">
        POINT,
      </if>
      <if test="cardid != null">
        CARDID,
      </if>
      <if test="versionid != null">
        VERSIONID,
      </if>
      <if test="complete != null">
        COMPLETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="cardid != null">
        #{cardid,jdbcType=CHAR},
      </if>
      <if test="versionid != null">
        #{versionid,jdbcType=CHAR},
      </if>
      <if test="complete != null">
        #{complete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wts.exam.domain.PaperCardsub">
    <!--@mbg.generated-->
    update wts_paper_cardsub
    <set>
      <if test="point != null">
        POINT = #{point,jdbcType=INTEGER},
      </if>
      <if test="cardid != null">
        CARDID = #{cardid,jdbcType=CHAR},
      </if>
      <if test="versionid != null">
        VERSIONID = #{versionid,jdbcType=CHAR},
      </if>
      <if test="complete != null">
        COMPLETE = #{complete,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wts.exam.domain.PaperCardsub">
    <!--@mbg.generated-->
    update wts_paper_cardsub
    set POINT = #{point,jdbcType=INTEGER},
      CARDID = #{cardid,jdbcType=CHAR},
      VERSIONID = #{versionid,jdbcType=CHAR},
      COMPLETE = #{complete,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>