<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wts.exam.mapper.SubjectCommentMapper">
  <resultMap id="BaseResultMap" type="com.wts.exam.domain.SubjectComment">
    <!--@mbg.generated-->
    <!--@Table wts_subject_comment-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CTIME" jdbcType="VARCHAR" property="ctime" />
    <result column="CUSERNAME" jdbcType="VARCHAR" property="cusername" />
    <result column="PSTATE" jdbcType="VARCHAR" property="pstate" />
    <result column="PCONTENT" jdbcType="VARCHAR" property="pcontent" />
    <result column="TEXT" jdbcType="LONGVARCHAR" property="text" />
    <result column="SUBJECTID" jdbcType="VARCHAR" property="subjectid" />
    <result column="CUSER" jdbcType="VARCHAR" property="cuser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CTIME, CUSERNAME, PSTATE, PCONTENT, `TEXT`, SUBJECTID, CUSER
  </sql>
  <select id="getEntity" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wts_subject_comment
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteEntity" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from wts_subject_comment
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertEntity" parameterType="com.wts.exam.domain.SubjectComment">
    <!--@mbg.generated-->
    insert into wts_subject_comment (ID, CTIME, CUSERNAME, 
      PSTATE, PCONTENT, `TEXT`, 
      SUBJECTID, CUSER)
    values (#{id,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, #{cusername,jdbcType=VARCHAR}, 
      #{pstate,jdbcType=VARCHAR}, #{pcontent,jdbcType=VARCHAR}, #{text,jdbcType=LONGVARCHAR}, 
      #{subjectid,jdbcType=VARCHAR}, #{cuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wts.exam.domain.SubjectComment">
    <!--@mbg.generated-->
    insert into wts_subject_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ctime != null">
        CTIME,
      </if>
      <if test="cusername != null">
        CUSERNAME,
      </if>
      <if test="pstate != null">
        PSTATE,
      </if>
      <if test="pcontent != null">
        PCONTENT,
      </if>
      <if test="text != null">
        `TEXT`,
      </if>
      <if test="subjectid != null">
        SUBJECTID,
      </if>
      <if test="cuser != null">
        CUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="cusername != null">
        #{cusername,jdbcType=VARCHAR},
      </if>
      <if test="pstate != null">
        #{pstate,jdbcType=VARCHAR},
      </if>
      <if test="pcontent != null">
        #{pcontent,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=LONGVARCHAR},
      </if>
      <if test="subjectid != null">
        #{subjectid,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        #{cuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="editEntity" parameterType="com.wts.exam.domain.SubjectComment">
    <!--@mbg.generated-->
    update wts_subject_comment
    <set>
      <if test="ctime != null">
        CTIME = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="cusername != null">
        CUSERNAME = #{cusername,jdbcType=VARCHAR},
      </if>
      <if test="pstate != null">
        PSTATE = #{pstate,jdbcType=VARCHAR},
      </if>
      <if test="pcontent != null">
        PCONTENT = #{pcontent,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        `TEXT` = #{text,jdbcType=LONGVARCHAR},
      </if>
      <if test="subjectid != null">
        SUBJECTID = #{subjectid,jdbcType=VARCHAR},
      </if>
      <if test="cuser != null">
        CUSER = #{cuser,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wts.exam.domain.SubjectComment">
    <!--@mbg.generated-->
    update wts_subject_comment
    set CTIME = #{ctime,jdbcType=VARCHAR},
      CUSERNAME = #{cusername,jdbcType=VARCHAR},
      PSTATE = #{pstate,jdbcType=VARCHAR},
      PCONTENT = #{pcontent,jdbcType=VARCHAR},
      `TEXT` = #{text,jdbcType=LONGVARCHAR},
      SUBJECTID = #{subjectid,jdbcType=VARCHAR},
      CUSER = #{cuser,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>